<%- include("header") -%>

<!-- navbar section -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" aria-label="Offcanvas navbar large" style="background-color: #003B95;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tripro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home (Andre's Living Room)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/potentialproduct">Tripro's Customers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Tripro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3 mt-lg-0" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!-- introduction section -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <!-- <img src="css/tripro_LOGO.jpg" class="d-flex align-items-center justify-content-center" style="width: 100px; height: 100px;" alt="..."> -->
      <svg class="align-items-center" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="332" zoomAndPan="magnify" viewBox="0 0 249 106.499997" height="142" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><g/><clipPath id="8476b1684a"><path d="M 197.496094 36.359375 L 246.707031 36.359375 L 246.707031 85.558594 L 197.496094 85.558594 Z M 197.496094 36.359375 " clip-rule="nonzero"/></clipPath><clipPath id="4ce45728fe"><path d="M 197.296875 36.359375 L 246.566406 36.359375 L 246.566406 85.628906 L 197.296875 85.628906 Z M 197.296875 36.359375 " clip-rule="nonzero"/></clipPath><clipPath id="5a9f4208b0"><path d="M 195.898438 57.078125 L 248.308594 57.078125 L 248.308594 64.953125 L 195.898438 64.953125 Z M 195.898438 57.078125 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#8476b1684a)"><path fill="#004aad" d="M 197.496094 64.726562 L 197.496094 82.015625 L 203.199219 76.425781 C 207.703125 81.972656 214.542969 85.53125 222.214844 85.53125 C 235.757812 85.53125 246.765625 74.492188 246.765625 60.914062 C 246.765625 47.351562 235.757812 36.316406 222.214844 36.316406 C 209.769531 36.316406 199.496094 45.660156 197.90625 57.699219 L 205 57.699219 C 206.519531 49.554688 213.640625 43.34375 222.199219 43.34375 C 231.871094 43.34375 239.726562 51.234375 239.726562 60.914062 C 239.726562 70.613281 231.859375 78.488281 222.199219 78.488281 C 216.484375 78.488281 211.460938 75.691406 208.265625 71.429688 L 215.121094 64.710938 L 197.496094 64.710938 Z M 197.496094 64.726562 " fill-opacity="1" fill-rule="nonzero"/></g><g fill="#004aad" fill-opacity="1"><g transform="translate(0.689501, 84.214826)"><g><path d="M 20.265625 -50.484375 L 0.359375 -50.484375 L 0.359375 -62.21875 L 54.578125 -62.21875 L 54.578125 -50.484375 L 34.671875 -50.484375 L 34.671875 0 L 20.265625 0 Z M 20.265625 -50.484375 "/></g></g></g><g fill="#004aad" fill-opacity="1"><g transform="translate(50.451784, 84.214826)"><g><path d="M 19.640625 -41.515625 C 21.304688 -43.828125 23.546875 -45.570312 26.359375 -46.75 C 29.171875 -47.9375 32.414062 -48.53125 36.09375 -48.53125 L 36.09375 -35.734375 C 34.550781 -35.847656 33.515625 -35.90625 32.984375 -35.90625 C 29.003906 -35.90625 25.890625 -34.796875 23.640625 -32.578125 C 21.390625 -30.359375 20.265625 -27.023438 20.265625 -22.578125 L 20.265625 0 L 6.40625 0 L 6.40625 -47.828125 L 19.640625 -47.828125 Z M 19.640625 -41.515625 "/></g></g></g><g fill="#004aad" fill-opacity="1"><g transform="translate(83.596542, 84.214826)"><g><path d="M 6.40625 -47.828125 L 20.265625 -47.828125 L 20.265625 0 L 6.40625 0 Z M 13.328125 -54.484375 C 10.785156 -54.484375 8.710938 -55.222656 7.109375 -56.703125 C 5.503906 -58.191406 4.703125 -60.03125 4.703125 -62.21875 C 4.703125 -64.414062 5.503906 -66.253906 7.109375 -67.734375 C 8.710938 -69.210938 10.785156 -69.953125 13.328125 -69.953125 C 15.878906 -69.953125 17.953125 -69.238281 19.546875 -67.8125 C 21.148438 -66.394531 21.953125 -64.617188 21.953125 -62.484375 C 21.953125 -60.171875 21.148438 -58.257812 19.546875 -56.75 C 17.953125 -55.238281 15.878906 -54.484375 13.328125 -54.484375 Z M 13.328125 -54.484375 "/></g></g></g><g fill="#004aad" fill-opacity="1"><g transform="translate(105.189035, 84.214826)"><g><path d="M 34.671875 -48.53125 C 39.109375 -48.53125 43.148438 -47.507812 46.796875 -45.46875 C 50.441406 -43.425781 53.300781 -40.550781 55.375 -36.84375 C 57.445312 -33.144531 58.484375 -28.832031 58.484375 -23.90625 C 58.484375 -18.988281 57.445312 -14.675781 55.375 -10.96875 C 53.300781 -7.269531 50.441406 -4.394531 46.796875 -2.34375 C 43.148438 -0.300781 39.109375 0.71875 34.671875 0.71875 C 28.566406 0.71875 23.765625 -1.207031 20.265625 -5.0625 L 20.265625 17.25 L 6.40625 17.25 L 6.40625 -47.828125 L 19.640625 -47.828125 L 19.640625 -42.3125 C 23.078125 -46.457031 28.085938 -48.53125 34.671875 -48.53125 Z M 32.265625 -10.671875 C 35.816406 -10.671875 38.734375 -11.867188 41.015625 -14.265625 C 43.296875 -16.660156 44.4375 -19.875 44.4375 -23.90625 C 44.4375 -27.9375 43.296875 -31.148438 41.015625 -33.546875 C 38.734375 -35.953125 35.816406 -37.15625 32.265625 -37.15625 C 28.710938 -37.15625 25.796875 -35.953125 23.515625 -33.546875 C 21.234375 -31.148438 20.09375 -27.9375 20.09375 -23.90625 C 20.09375 -19.875 21.234375 -16.660156 23.515625 -14.265625 C 25.796875 -11.867188 28.710938 -10.671875 32.265625 -10.671875 Z M 32.265625 -10.671875 "/></g></g></g><g fill="#004aad" fill-opacity="1"><g transform="translate(161.349497, 84.214826)"><g><path d="M 19.640625 -41.515625 C 21.304688 -43.828125 23.546875 -45.570312 26.359375 -46.75 C 29.171875 -47.9375 32.414062 -48.53125 36.09375 -48.53125 L 36.09375 -35.734375 C 34.550781 -35.847656 33.515625 -35.90625 32.984375 -35.90625 C 29.003906 -35.90625 25.890625 -34.796875 23.640625 -32.578125 C 21.390625 -30.359375 20.265625 -27.023438 20.265625 -22.578125 L 20.265625 0 L 6.40625 0 L 6.40625 -47.828125 L 19.640625 -47.828125 Z M 19.640625 -41.515625 "/></g></g></g><g clip-path="url(#4ce45728fe)"><path fill="#004aad" d="M 246.566406 57.1875 L 246.566406 39.898438 L 240.867188 45.488281 C 236.359375 39.941406 229.519531 36.386719 221.847656 36.386719 C 208.304688 36.386719 197.296875 47.421875 197.296875 61 C 197.296875 74.5625 208.304688 85.601562 221.847656 85.601562 C 234.292969 85.601562 244.566406 76.257812 246.160156 64.21875 L 239.0625 64.21875 C 237.542969 72.359375 230.421875 78.570312 221.863281 78.570312 C 212.191406 78.570312 204.335938 70.683594 204.335938 61 C 204.335938 51.304688 212.207031 43.429688 221.863281 43.429688 C 227.578125 43.429688 232.601562 46.222656 235.796875 50.484375 L 228.941406 57.203125 L 246.566406 57.203125 Z M 246.566406 57.1875 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#5a9f4208b0)"><path fill="#ffffff" d="M 195.898438 57.078125 L 248.417969 57.078125 L 248.417969 64.738281 L 195.898438 64.738281 Z M 195.898438 57.078125 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
      <!-- <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg> -->
      <h1 class="text-body-emphasis">Welcome to Tripro!</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Scan. Negotiate. Earn.
        <!-- Tripro is where you can negotiate with the airlines to get the best offer for your dream flight! -->
      </p>
      <!-- <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          Call to action
          <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
        </button>
        <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
          Secondary link
        </button>
      </div> -->
    </div>
</div>

<!-- features section -->
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Features (<em>Airlines' Perspective</em>) <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle align-top" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-content="Please check our Tripro's Customers page for the customers' perspective"viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg></h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-3" style="width: 2em; height: 2em;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-database-fill-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0ZM8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1Z"/>
          <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12.31 12.31 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7Zm6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.552 4.552 0 0 1 .23-2.002Zm-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.507 4.507 0 0 1-1.3-1.905Z"/>
        </svg>
      </div>
      <h3 class="fs-3 text-body-emphasis">Get Realtime Demand Data</h3>
      <p style="margin-bottom: 80px;">By accessing our proposal's dashboard data, you can get better clarity on the real route demand. We require our <strong>Tripeople</strong> to submit their budget preference and how much time they need to pay your offer in their trip proposal. Thus every proposal will be a great indicator of the route's demand.</p>
      
      <!-- modal trigger -->
      <button type="button" class="btn btn-info btn-lg align-items-end" data-bs-toggle="modal" data-bs-target="#proposalDashboard" style="border-color: #003B95; background-color: #003B95; --bs-btn-color: #fff;">Check this example</button>
      <div class="modal fade" id="proposalDashboard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Your Proposals' Dashboard</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- proposals' dashboard example -->
            <div class="btn-group d-block my-2 ms-3">
              <button type="button" class="btn btn-secondary btn-sm">Filters</button>
              <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              <button type="button" class="btn btn-secondary btn-sm ms-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
              </svg></button>
              </button>
              <ul class="dropdown-menu w-50">
                <li>
                  <div class="row mx-1">
                    <div class="col">
                      <p style="margin-bottom: 0px;">by Date</p>
                    </div>
                    <div class="col">
                      <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row mx-1">
                    <div class="col">
                      <p style="margin-bottom: 0px;">by Route</p>
                    </div>
                    <div class="col">
                      <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row mx-1">
                    <div class="col">
                      <p style="margin-bottom: 0px;">by Budget</p>
                    </div>
                    <div class="col">
                      <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row mx-1">
                    <div class="col">
                      <p style="margin-bottom: 0px;">by Number of Passengers</p>
                    </div>
                    <div class="col">
                      <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row mx-1">
                    <div class="col">
                      <p style="margin-bottom: 0px;">by Time to Finish Payment</p>
                    </div>
                    <div class="col">
                      <input class="form-check-input float-end" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <div class="col-12 mx-1 px-3">
                    <input class="btn btn-primary btn-sm float-end" type="submit" value="Submit">

                  </div>
                </li>
              </ul>
            </div>
            <div class="table-responsive small px-3">
              <table class="table table-striped table-sm text-center">
                <thead class="align-middle">
                  <tr>
                    <th scope="col">Proposal ID <a href="#" type="button" class="btn btn-sm btn-info d-inline-flex align-items-start" style="margin-bottom: 3px;" data-bs-toggle="popover" data-bs-title="Direction" data-bs-content="Hover and click on your Proposal ID to see the details of it."><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></a></th>
                    <th scope="col">Date Submitted</th>
                    <th scope="col">Days After Submission</th>
                    <th scope="col">Airline's Name</th>
                    <th scope="col">Airline's Response</th>
                    <th scope="col">Airline's Approved Rate</th>
                    <th scope="col">Your Response</th>
                    <th scope="col">Expiration Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>LHRJFK-ow-030723-0000001</td>
                    <td>030723</td>
                    <td>2</td>
                    <td>British Airways</td>
                    <td><strong>It's A Match!</strong></td>
                    <td>€380</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                      <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg></td>
                    <td>060723 02:03:45</td>
                  </tr>
                  <tr>
                    <td>LHRDPS-rt-101023-0000002</td>
                    <td>101023</td>
                    <td>2</td>
                    <td>Garuda Indonesia</td>
                    <td><strong>It's A Match!</strong></td>
                    <td>€600</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                      <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg></td>
                    <td>121023 22:12:50</td>
                  </tr>
                  <tr>
                    <td>AMSLBJ-rt-260923-0000003</td>
                    <td>260923</td>
                    <td>3</td>
                    <td>Garuda Indonesia</td>
                    <td><strong>It's A Match!</strong></td>
                    <td>€650</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                      <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg></td>
                    <td>270923 08:07:33</td>
                  </tr>
                  <tr>
                    <td>AMSLHR-ow-290823-0000004</td>
                    <td>290823</td>
                    <td>3</td>
                    <td>KLM</td>
                    <td><strong>Let's Talk About This!</strong></td>
                    <td>€150</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                      <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg></td>
                    <td>310823 14:23:22</td>
                  </tr>
                  <tr>
                    <td>AMSLBJ-rt-280823-0000004</td>
                    <td>280823</td>
                    <td>1</td>
                    <td>Garuda Indonesia</td>
                    <td><strong>Let's Talk About This!</strong></td>
                    <td>€670</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                      <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                    </svg> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg></td>
                    <td>290823 05:50:25</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-3" style="width: 2em; height: 2em;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
          <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
        </svg>
      </div>
      <h3 class="fs-3 text-body-emphasis">Generate Sales Earlier</h3>
      <p style="margin-bottom: 40px;">When you find a great proposal that is aligned with your seat & price planning, send a response directly. Please be aware that other airlines might be considering the same trip proposal. Send an <strong>It's A Match!</strong> response if you want to directly approve the proposed price, or send a <strong>Let's talk about this!</strong> response to start a negotiation session with the potential passenger.</p>
 
      <!-- modal trigger -->
      <button type="button" class="btn btn-info btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#negotiationModal" style="border-color: #003B95; background-color: #003B95; --bs-btn-color: #fff;">Check this example</button>
      <div class="modal fade" id="negotiationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Your Negotiation's Page</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- negotiation's field example -->
            <div class="table-responsive small px-3">
              <table class="table table-striped table-sm text-start">
                <tbody>
                  <tr>
                    <th>Proposal ID</th>
                      <td>AMSLHR-ow-290823-0000004</td>
                      <!-- <td>2</td>
                      <td>3</td> -->
                  </tr>
                  <tr>
                    <th>Depart</th>
                      <td>Amsterdam Schiphol</td>
                      <!-- <td>Peter</td>
                      <td>John</td> -->
                  </tr>
                  <tr>
                    <th>Return</th>
                      <td>London Heathrow</td>
                      <!-- <td>Parker</td>
                      <td>Rambo</td> -->
                  </tr>
                <tr>
                    <th>Number of Passengers</th>
                      <td>4</td>
                      <!-- <td>peterparker@mail.com</td>
                      <td>johnrambo@mail.com</td> -->
                  </tr>
                <tr>
                  <th>Proposed Budget</th>
                    <td>€550-650</td>
                </tr>
                <tr>
                  <th>Your Offered Rate</th>
                    <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></td>
                </tr>
                <tr>
                  <th>Comment's History</th>
                    <td>Dear Noah,<br><br>We're happy to offer you the best rate that might be suitable with your proposal.<br>Please pay the tickets before the expiration time.<br><br>Best regards,<br>KLM</td>
                </tr>
                <tr>
                  <th>Submit New Comment</th>
                  <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></td>
                </tr>
                <tr>
                  <th>Offer's Expiration Time</th>
                    <td>060723 02:03:45</td>
                </tr>
                <tr>
                  <th>Link to Payment Status</th>
                    <td><a href="#">Link to payment gateway</a></td>
                </tr>
              </tbody>
              </table>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 rounded-3" style="width: 2em; height: 2em;">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
        </svg>
      </div>
      <h3 class="fs-3 text-body-emphasis">Group Booking Improvement</h3>
      <p>As a platform, Tripro is more than capable to handle a proposal that contains more than 10 people. This will be useful if you want to tap into the religious tourism market, for example, a group that wants to visit Holy Sites in Saudi Arabia or Israel. The Umrah market (Muslim's minor pilgrimage to Mecca) recorded 6.5 million passengers arriving in the Saudi Arabia by air in 2019 alone.</p>
      
      <!-- modal trigger -->
      <button type="button" class="btn btn-info btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#groupBookingConcept" style="border-color: #003B95; background-color: #003B95; --bs-btn-color: #fff;">Check this example</button>
      <div class="modal fade" id="groupBookingConcept" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Improved Group Booking Concept</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- group booking concept image -->
            <div class="modal-body">
              <img src="css/Tripro_Assets/group_booking.png" class="mx-auto d-block">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- how it works -->

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">How Tripro Helps You</h2>
  <div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="carousel" data-bs-theme="dark" style="overflow: visible; padding-bottom: 4rem;">
    <div class="carousel-indicators" style="bottom: 4rem; top: 105%">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="overflow: visible;">
      <div class="carousel-item active">
        <img src="css/Tripro_Assets/search_proposal.png" class="d-block w-100" alt="scan proposals in Tripro dashboard">
        <div class="carousel-caption d-none d-md-block" style="top: 100%;">
          <h5>Scan & Choose Potential Proposals</h5>
          <p>You can easily scan (<strong><em>automated in Tripmaster plan</em></strong>) available proposals in our dashboard and choose which proposal attracts you the most. Utilize the filters wisely so you can optimize the search time.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="css/Tripro_Assets/negotiation.png" class="d-block w-100" style="width: 750px; height: 750px;" alt="negotiation in Tripro">
        <div class="carousel-caption d-none d-md-block" style="top: 100%;">
          <h5>Send A Response</h5>
          <p>When you find a great proposal, quickly send a <strong>It's A Match!</strong> or <strong>Let's Talk About This</strong> response. Bear in mind that other airlines might be also considering the same proposal.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="css/Tripro_Assets/sales_team.png" class="d-block w-100" style="width: 750px; height: 750px;" alt="Quick Sales in Tripro">
        <div class="carousel-caption d-none d-md-block" style="top: 100%;">
          <h5>Enjoy A Quick Sales + Enhanced Demand Data Accuracy</h5>
          <p>When you send an <strong>It's A Match</strong> response, you just need to give our <strong>Tripeople</strong> a little time to let them finishing their payment process. You get a quick income plus a calibrated demand data source!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="bottom: 4rem;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="bottom: 4rem;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- pricing section -->
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom mb-5">Our Triplans</h2>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Triplore</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">€0<small class="text-body-secondary fw-light">/mo</small></h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Early Proposal Visibility in the first two weeks</li>
            <li>Customized Proposal Updates in the first two weeks</li>
            <li>Limited Data Insight</li>
            <li>Limited Competitor's Bid Price Visibility</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Triphunter</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Contact Us for Price Details</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Early Proposal Visibility in the first month</li>
            <li>Customized Proposal Updates in the first month</li>
            <li>Limited Data Insight</li>
            <li>Limited Competitor's Bid Price Visibility</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Tripmaster</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Contact Us for Price Details</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Early Proposal Visibility</li>
            <li>Automated & Customized Proposal Updates</li>
            <li>Unlimited Data Insight</li>
            <li>Competitor's Bid Price Visibility</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Sign up for free</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <h2 class="display-6 text-center mb-4">Compare plans</h2>
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Triplore</th>
          <th style="width: 22%;">Triphunter</th>
          <th style="width: 22%;">Tripmaster</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Waiting Time for The First Response</th>
          <td><p class="mb-0">3 x 24 Hours</p></td>
          <td><p class="mb-0">2 x 24 Hours</p></td>
          <td><p class="mb-0">1 x 24 Hours</p></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Number of Proposal per Week</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Proposal Position</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Negotiation Opportunity</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Unlimited members</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Extra security</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>

<!-- Customer's Testimonies -->
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom mb-4">What Our Customers Think</h2>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-theme="dark" style="overflow: visible; padding-bottom: 4rem;">
    <div class="carousel-inner text-center mb-3" style="overflow: visible;">
      <div class="carousel-item active">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle justify-content-center" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <div class="carousel-caption d-none d-md-block" style="top: 95%;">
          <p style="margin-bottom: 8px;"><emphasis>"Previously I rely a lot on third party partners to find a group booking that can significantly increase our passenger load factor. Tripro supports us to simplify the process and we can even negotiate directly with the potential passengers."</emphasis></p>
          <h5>Sales Manager at KLM</h5>
        </div>
      </div>
      <div class="carousel-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle justify-content-center" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <div class="carousel-caption d-none d-md-block" style="top: 95%;">
          <p style="margin-bottom: 8px;"><emphasis>"I was skeptical initially, but the number proved the concept works."</emphasis></p>
          <h5>Revenue Manager at British Airways</h5>
        </div>
      </div>
      <div class="carousel-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle justify-content-center" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <div class="carousel-caption d-none d-md-block" style="top: 95%;">
          <p style="margin-bottom: 8px;"><emphasis>"A powerful platform that helps us to have a sharper demand planning up to the next 12 months."</emphasis></p>
          <h5>Demand Planner at EasyJet</h5>
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>

<%- include("footer") -%>